[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_DESCRIPTION
Exec=APPLICATION_LAUNCHER %f
Icon=APPLICATION_ICON
Terminal=false
Type=Application
Categories=Game;
